In [1]:
a ='skill'
b =[12,15,14]
c =14.21
d =(14,21,[14,58])
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [5]:
var1=' '
var2='[DS , ML , Python]'
var3=['DS' , 'ML' ,'Python']
var4=1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [22]:
a = 10
b = 20
print(a/b)
# / is division operator used for division

0.5

In [21]:
a = 3
b = 2
print(a**b)
# ** is a power opertor `

9

In [20]:
a =10
b =3
print(a//b)
# // is a floor division operator

3

In [19]:
a = 5
b = 2
print(a%b)
#% is modulo operator operator used to show reminder.

1

In [18]:
a = [ 1,2,3,4,"pw",25.32,"skill",7,8,54.10]
for i in a :
    print(type(i))
    print(i)

<class 'int'>
1
<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'str'>
pw
<class 'float'>
25.32
<class 'str'>
skill
<class 'int'>
7
<class 'int'>
8
<class 'float'>
54.1

In [17]:
a=15
b=3
while a%b == 0:
    print("a is purely divisible by b")
    print(a/b)
    break
else :
    print ("a is not divisible by b")

a is purely divisible by b
5.0

In [16]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if i%3== 0:
        
        print(i," is divisible by 3")
        
    else:
        
        print (i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3  is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6  is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9  is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12  is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15  is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18  is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21  is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24  is divisible by 3
25  is not divisible by 3

In [28]:
#mutable and immutable
#The main difference between mutable and immutable objects in Python is that mutable objects can be modified or changed after their creation
#but the immutable objects can not be modified after their creation
a = [1,2,6,5]
print(a)
a[2]
a[2]= 100
print(a)
#so the value is changed means it is mutable
a = 'skills'
print(a)
a[2]
a[2]=w
print(a)
# the value is not changed so it is immutable

[1, 2, 6, 5]
[1, 2, 100, 5]
skills

NameError: name 'w' is not defined